<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="TestMSI" Language="1033" Version="1.0.0.0" Manufacturer="Max" UpgradeCode="ad2f0c64-632a-4361-8cf2-3c4dc03bc1a3">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate />

		<Feature Id="ProductFeature" Title="TestMSI" Level="1">
      <Feature Id="Extras" Title="Extra Text File" Level="2" Display="expand" Absent="disallow">
        <ComponentGroupRef Id="ExtraComponents"/>
      </Feature>
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="TestMSI" />
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<Component Id="InstallFileComponent" Guid="85B6C95B-8865-4760-84B2-829A861BFCE3">
        <File Source="TextFile.txt"/>
      </Component>
		</ComponentGroup>
    <ComponentGroup Id="ExtraComponents" Directory="INSTALLFOLDER">
      <Component Id="ExtraTextComponent" Guid="21F2444B-B8A1-458C-8240-43A8E74F67BD">
        <File Source="ExtraTextFile.txt"/>
      </Component>
    </ComponentGroup>
	</Fragment>
</Wix>